
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEATHER APP</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">
</head>
<body>
    <div class="header">
        <h1>WEATHER APP</h1>
        <div>
            <form action="/getweather" method="post">
                <input type="text" list="citynames" name="citydetail" id="input" placeholder="Enter city name">
                <button id="search" >Search</button></input>
            </form>
        </div>
    </div>


</body>
</html>